/* index.css */

/* Elimina márgenes globales y pone fondo oscuro */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0d0d0d; /* negro oscuro */
  font-family: 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}
